body {
    font-family: sans-serif;
}

/* Styles for section one */

.section-one {
    background-color: #1F2937;
    padding: 0 200px 100px;
}

.header {
    display: flex;
    flex-direction: column;
}

.subheader, .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    gap: 40px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-second-text, .links {
    font-size: 18px;
    font-weight: normal;
    color: #E5E7EB;
}

.signup {
    width: 90px;
    height:30px;
    background-color: #3882F6;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: white;
}

.placeholder {
    background-color: gray;
    color: white;
    width: 900px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* styles for section two */

.title {
    color: #1F2937;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    padding: 40px 0;
}

.info {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    gap: 40px;
}

.card {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.image {
    width: 130px;
    height: 130px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    flex-shrink: 0;
}

.text {
    color: gray;
    text-align: center;
    width: 130px;
}

/* Styles for section three */

.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 100px 220px;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    color: #1F2937;
}

.quote-author {
    font-size: 20px;
    font-weight: bold;
}

/* Styles for section four */

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.sign {
    background-color: #3882F6;
    width: 900px;
    height: 140px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text1, .text2 {
    color: white;
}

.text1 {
    font-weight: bold;
    font-size: 24px;
}

.text2 {
    font-size: 16px;
}

.bordered {
    border: 2px solid white;
}

/* Styles for footer */

.footer {
    background-color: #1F2937;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}